@font-face {
    font-family: 'Bilo';
    src: local('Bilo');
}

html, body {
    margin: 0;
    padding: 0;
    
    height: 100%;
}

body {
    color: white;
    background-color: black;

    font-size: 14px;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 100%;
}

.void {
    font-family: "Bilo", "Calibri", Arial, sans-serif;
    font-weight: bold;
    font-size: 8em;
}