@font-face {
    font-family: 'Bilo';
    src: local('Bilo');
}

html, body {
    margin: 0;
    padding: 0;
    
    height: 100%;
}

body {
    color: white;
    background-color: black;

    font-size: 14px;
}

#container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    height: 100%;
}

#void {
    display: inline-block;
    margin: 0;

    max-width: 100%;
    word-wrap: break-word;

    text-align: center;
    font-family: "Bilo", "Calibri", Arial, sans-serif;
    font-weight: bold;
    font-size: 8em;

    line-height: 1em;

    user-select: none;
}

.hidden {
    opacity: 0 !important;
}